.collapse{
    background-color: red;
}
#sidenavbar{
    color: rgb(57, 57, 57);
}
/* Navbar */
.navbar{
    background-color: #2834fc;
}
.navbar-brand{
    color: white;
    font-size: 2rem;
}
.upper-navbar{
    color: white;
}
.nav-item{
    padding-left:25px;
}
.card-link{
    text-decoration: none;
    color: black;
}
.sidenav-options{
    font-size: 1.5rem;
    font-weight: 400;
}
.sidenav-items-bg:hover{
    color: white;
    background-color: #2834fc;
}
.course-image{
    width: 100%;
    object-fit: fill;
}
.column-section{
    padding: 2%;
}
.navbar-relative{
    position: relative;
}