.collapse{
    background-color: red;
}

/* Navbar */
.navbar-brand{
    font-size: 2rem;
}
.sidenav-options{
    font-size: 1.5rem;
}
.course-image{
    width: 100%;
    object-fit: fill;
}
.column-section{
    padding: 2%;
}
.navbar-relative{
    position: relative;
}